@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

.wrap {
  display: inline-flex;

  height: 30px;
  width: auto;

  @include respond-to(md) {
    height: unset;
  }
}

.smallWrap {
  @extend .wrap;

  height: 30px;
  width: auto;
}

.logo {
  width: 100%;
}
