@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

.wrap {
  min-width: 283px;
  width: 283px;
  background-color: color(background);

  flex-direction: column;

  position: fixed;
  transition: transition(long);
  z-index: 5;

  height: calc(100vh - 64px);
  height: calc(100dvh - 64px);

  overflow-y: auto;

  @include respond-to(md) {
    // 768px
    position: static;

    height: unset;
  }
}

.hidden {
  @extend .wrap;
  left: -100%;
}

.visible {
  @extend .wrap;
  left: 0;
}

.spacer {
  margin: 20px 0 10px 0;
}

.mobileOnly {
  margin: 20px 0 40px 0;
  padding: 8px 30px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: calc(12 / 16 * 1rem);
}
