@import './styles/variables';
@import './styles/functions';
@import './styles/mixins';

.wrap {
  flex-direction: row;
}

main {
  width: 100%;
  @include respond-to(md) {
    // 768px
    width: calc(100vw - 302px);
  }
}
